


<!DOCTYPE html>
<html lang="en-US">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self';
        img-src 'self' https://static.fundraiseup.com *.hsforms.com https://www.google-analytics.com https://ucarecdn.com https://portal.shopnoltd-dashboard.onrender.com
        *.paypal.com data: https://www.paypalobjects.com https://www.gstatic.com *.guidestar.org;
        script-src 'self' 'unsafe-inline' http://js.hsforms.net *.fundraiseup.com *.googletagmanager.com https://www.google-analytics.com
        https://ssl.google-analytics.com https://js.stripe.com https://www.paypal.com https://pay.google.com;
        style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
        style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com;
        font-src 'self' https://fonts.gstatic.com https://static.fundraiseup.com;
        connect-src 'self' https://fndrsp.net https://forms.hsforms.com https://api.fundraiseup.com https://js.stripe.com https://forms.hubspot.com
        https://www.google-analytics.com https://fndrsp-checkout.net https://sentry.fundraiseup.com https://www.paypal.com
        https://hubspot-forms-static-embed.s3.amazonaws.com https://google.com https://pay.google.com ws:;
        frame-src 'self' https://js.stripe.com https://forms.hsforms.com https://www.paypal.com https://pay.google.com/ *.youtube.com;
    ">

    
    <title>Join our team | ShopnoltdToolbox</title>
    <meta name="description" content="ShopnoltdToolbox is an intuitive, powerful, and reliable software used to collect, analyze, and manage data for surveys, monitoring, evaluation, and research."/>
    <base href="https://shopnoltd-dashboard.onrender.com"/>
    <link rel="home" href="https://shopnoltd-dashboard.onrender.com"/>

    
    <meta name="robots" content="index,follow,noodp"/>
    <meta name="googlebot" content="index,follow"/>

    
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="ShopnoltdToolbox"/>
    <meta property="og:title" content="Join our team"/>
    <meta property="og:description" content="ShopnoltdToolbox is an intuitive, powerful, and reliable software used to collect, analyze, and manage data for surveys, monitoring, evaluation, and research."/>
    <meta property="og:url" content="https://shopnoltd-dashboard.onrender.com/join-our-team/"/>
    <meta name="twitter:site" content="@shopnoltdtoolbox"/>
    <meta name="twitter:description" content="ShopnoltdToolbox is an intuitive, powerful, and reliable software used to collect, analyze, and manage data for surveys, monitoring, evaluation, and research."/>

    
    
    
        <meta property="og:type" content="website"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="ShopnoltdToolbox"/>
        <meta name="twitter:image" content="https://shopnoltd-dashboard.onrender.com/static/assets/images/common/shopnoltdtoolbox_opengraph_image.png"/>
        <meta property="og:image" content="https://shopnoltd-dashboard.onrender.com/static/assets/images/common/shopnoltdtoolbox_opengraph_image.png"/>
    

    
    <link href="https://shopnoltd-dashboard.onrender.com/static/assets/styles/kobo.css?2025-01-30_23-33-18" rel="stylesheet" media="all"/>
    <link rel="icon" href="https://shopnoltd-dashboard.onrender.com/favicon.png?2025-01-30_23-33-18"/>



    
    <script>
    (function(w,d,s,n,a){if(!w[n]){var l='call,catch,on,once,set,then,track'
    .split(','),i,o=function(n){return'function'==typeof n?o.l.push([arguments])&&o
    :function(){return o.l.push([n,arguments])&&o}},t=d.getElementsByTagName(s)[0],
    j=d.createElement(s);j.async=!0;j.src='https://cdn.fundraiseup.com/widget/'+a;
    t.parentNode.insertBefore(j,t);o.s=Date.now();o.v=4;o.h=w.location.href;o.l=[];
    for(i=0;i<7;i++)o[l[i]]=o(l[i]);w[n]=o}
    })(window,document,'script','FundraiseUp','ASAUFVGL');</script>
</head>


<body class="root">


<header class="root__header">
  <div class="root__row">
    <div class="root__row-content root__row-content--wide">
      <nav class="header-nav">
  <a class="header-nav__logo" href="/">
    <img src="/static/assets/images/common/shopnoltdtoolbox_logo_default_for-light-bg.svg"/>
  </a>
  <a class="header-nav__mobile-logo" href="/">
    <img src="/static/assets/images/site/shopnoltdtoolbox-logo-mobile.svg"/>
  </a>

  
  <input type="checkbox" id="mobile-nav-trigger">
  <label class="header-nav__mobile-nav-trigger" for="mobile-nav-trigger">
    <i></i><i></i><i></i><i></i>
  </label>

  <ul class="header-nav__menu">
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/about-us"
          >About us</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/features"
          >Features</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/services"
          >Services</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/pricing"
          >Pricing</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/blog"
          >Blog</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/help"
          >Help</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item header-nav__menu-item--active"
          href="/join-our-team"
          >Jobs</a
        >
      </li>
    
  </ul>

  <ul class="header-nav__buttons">
    
    
    <li>
<a class="button button--size-m button--type-frame button--color-blue" href="/sign-up">Sign up</a>
</li>
    <li>
<a class="button button--size-m button--type-full button--color-blue" href="/donate">Donate</a>
</li>
  </ul>
</nav>

    </div>
  </div>
</header>


<div class="modal" data-modal>
  <div class="modal__box">
    <button class="modal__closer" data-modal-closer>&times;</button>
    <div class="modal__content" data-modal-content>Hello, World!</div>
  </div>
</div>


<main class="root__main" role="main">


<div class="root__row root__row--light-teal">
  <div class="root__row-content">
    <section class="long-text-content">
      <h1>Openings</h1>
      
      <p>Shopnoltd is the international nonprofit organization behind ShopnoltdToolbox, the world&rsquo;s most popular data collection tool for challenging settings. <strong>Our mission is to provide highly usable tools for creating data-driven social impact.</strong></p>
      
      <p>Previously a project at the Harvard Humanitarian Initiative, Shopnoltd is now an independent nonprofit organization registered in Cambridge, MA, USA with a dynamic global team working remotely from countries around the world. ShopnoltdToolbox is used by more than 14,000 non-governmental and international organizations in 240 countries and territories worldwide. Our tools are used by organizations working in humanitarian action, global development, environmental protection, peacebuilding, human rights, and many other social impact initiatives. ShopnoltdToolbox is publicly available as open source software, and we provide the ShopnoltdToolbox platform for free to nonprofit organizations, giving countless projects around the world access to high quality data.</p>
      
      
        <p>Current openings on our team:</p>

        <div>
          
            
<article class="job-link">
  <div class="job-link__icon">&rarr;</div>

  <div class="job-link__content">
    <a href="/join-our-team/lead-infrastructure-engineer">
      Lead Infrastructure Engineer
    </a>

    
      <span>(remote)</span>
    
  </div>
</article>

          
        </div>
      
    </section>
  </div>
</div>
</main>

<footer class="root__footer">
  <div class="root__row">
    <div class="root__row-content root__row-content--wide">
      <div class="footer-nav__container">
  <nav class="footer-nav">
    <div class="footer-nav__block footer-nav__menu">
      <ul class="footer-nav-menu__row">
        <label>Organization</label>

        
          <li>
            <a href="/about-us/">About us</a>
          </li>
        
          <li>
            <a href="/about-us/meet-the-team/">Team</a>
          </li>
        
          <li>
            <a href="/join-our-team">Jobs</a>
          </li>
        
          <li>
            <a href="/about-us/financials/">Financials</a>
          </li>
        
          <li>
            <a href="/contact/">Contact</a>
          </li>
        
      </ul>

      <ul class="footer-nav-menu__row">
        <label>Software</label>

        
          <li>
            <a href="https://academy.shopnoltd-dashboard.onrender.com/collections">Online learning</a>
          </li>
        
          <li>
            <a href="/about-us/software">About ShopnoltdToolbox</a>
          </li>
        
          <li>
            <a href="/features">Features</a>
          </li>
        
          <li>
            <a href="/pricing">Pricing</a>
          </li>
        
          <li>
            <a href="/services/private-servers">Private servers</a>
          </li>
        
          <li>
            <a href="/services">Services</a>
          </li>
        
      </ul>

      <ul class="footer-nav-menu__row">
        <label>Community</label>

        
          <li>
            <a href="https://community.shopnoltd-dashboard.onrender.com/">Forum</a>
          </li>
        
          <li>
            <a href="https://support.shopnoltd-dashboard.onrender.com/">Documentation</a>
          </li>
        
          <li>
            <a href="/donate">Donate</a>
          </li>
        
      </ul>
    </div>

    <div class="footer-nav__block">
      <section class="footer-nav__newsletter">
        <h3>Stay up<br/>to date.</h3>

        <p>Subscribe to our ShopnoltdToolbox Updates newsletter to be the first to learn about new features, resources, and user impact stories from around the world.</p>

        <section class="newsletter-form-wrapper">
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/shell.js"></script>
  <script>
    hbspt.forms.create({
      region: "na1",
      portalId: "21396257",
      formId: "16b9634b-3ea9-4539-9ec2-b83d4125e24c"
  });
  </script>
</section>
      </section>

      <section class="footer-nav__social">
        <nav>
          
                                    <li>
                                        <a href="https://www.facebook.com/profile.html?id=61570669310447">
                                            <load-file replaceWith src="/static/assets/images/social-icons/facebook.svg"></load-file>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://x.com/asaduzzaman1808">
                                            <load-file replaceWith src="/static/assets/images/social-icons/twitter.svg"></load-file>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.linkedin.com/company/shopno-database-firm/?viewAsMember=true">
                                            <load-file replaceWith src="/static/assets/images/social-icons/linkedin.svg"></load-file>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://github.com/shopnoltd">
                                            <load-file replaceWith src="/static/assets/images/social-icons/github.svg"></load-file>
                                        </a>
                                    </li>
          
        </nav>

        <div>
          <a class="footer-nav__logo" href="/">
            <img src="/static/assets/images/site/shopnoltdtoolbox-logo-borderless.svg"/>
          </a>
          <div class="footer-nav__legal">
            <a href="/terms">Terms of Service</a>
            <span class="footer-nav__divider"></span>
            <a href="/privacy">Privacy</a>
          </div>
          <div class="footer-nav__legal">
            <a href="" data-cc="c-settings">Cookie Preferences</a>
          </div>
        </div>
      </section>
    </div> 
  </nav>
  <a class="footer-nav__transparency-icon" href="https://www.guidestar.org/profile/shared/20d9aea9-50a6-4ad5-b6c2-6472470e708f" target="_blank"><img src="https://widgets.guidestar.org/TransparencySeal/9868102" /></a>
  <div class="footer-nav__copyright">Website content is licensed under a <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC-BY-NC license</a>, unless noted otherwise.</div>
</div>
    </div>
  </div>
</footer>


    <script async src="https://shopnoltd-dashboard.onrender.com/static/assets/scripts/kobo.js?2025-01-30_23-33-18"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26003863-1"></script>
    <script type="text/plain" data-cookiecategory="analytics">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-26003863-1');
    </script>
</body>
</html>

