import { precompileTemplate } from "@ember/template-compilation";
export default precompileTemplate("<div class=\"browser-search-tip\">\n  <span class=\"tip-label\">\n    {{this.translatedLabel}}\n  </span>\n  <span class=\"tip-description\">\n    {{i18n \"search.browser_tip_description\"}}\n  </span>\n</div>",{ moduleName: "discourse/components/search-menu/browser-search-tip.hbs" })