import { precompileTemplate } from "@ember/template-compilation";
export default precompileTemplate("<a\n  class=\"clear-search\"\n  aria-label=\"clear_input\"\n  title={{i18n \"search.clear_search\"}}\n  href\n  {{on \"click\" @clearSearch}}\n>\n  {{d-icon \"xmark\"}}\n</a>",{ moduleName: "discourse/components/search-menu/clear-button.hbs" })