.fun-widget-backdrop-holder {
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    position: fixed !important;
    z-index: 2147483646 !important;
    transition: opacity 0.2s ease-in-out !important;
    transform: translateZ(99px) !important;
    animation: fun-widget-backdrop 0.2s ease-in-out !important;
}

.fun-widget-backdrop {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    animation: fun-widget-backdrop-rotate 1.5s infinite linear, fun-widget-backdrop-fadein 0.6s ease-in-out !important;
    padding: 0 !important;
    margin: -30px 0 0 -30px !important;
    width: 60px !important;
    min-width: 60px !important;
    max-width: 60px !important;
    height: 60px !important;
    min-height: 60px !important;
    max-height: 60px !important;
    border-radius: 50% !important;
    border: 4px solid !important;
    border-color: #e3e3e3 #e3e3e3 #666666 #666666 !important;
}

@keyframes fun-widget-backdrop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fun-widget-backdrop-fadein {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fun-widget-backdrop-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}