.styles--2Vt9E {
    background-color: #fff;
    box-shadow: 0 6px 17px 2px rgba(49, 59, 70, .08);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: transform .3s ease-out;
    z-index: 11
}

.styles--k_2aS {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    width: 100%
}

.styles--1kn9O {
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    color: #919bab;
    color: var(--color-input-muted, #919bab);
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    padding: 16px 0 14px;
    text-decoration: none;
    text-transform: uppercase
}

.styles--1kn9O+.styles--1kn9O {
    margin-left: 24px
}

.styles--2VVDz {
    background-color: #fff;
    color: #00756a;
    color: var(--color-default, #00756a);
    cursor: default
}

.styles--ZGfjq {
    background-color: #00756a;
    background-color: var(--color-default, #00756a);
    bottom: 0;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transform: translateX(50%);
    transition: all .3s cubic-bezier(.4, 0, .2, 1) 0ms;
    width: 50%
}

.styles--1WgS8 {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    min-height: 360px;
    width: 100%
}

.styles--1WgS8 .styles--3bU4I {
    display: block;
    height: 100px;
    position: relative;
    transform: rotate(45deg);
    width: 100px;
    will-change: auto
}

.styles--2V4ST {
    float: left;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    width: 50%
}

.styles--2V4ST:before {
    -webkit-animation: styles--25cNp 2.4s linear infinite both;
    animation: styles--25cNp 2.4s linear infinite both;
    background-color: #00756a;
    background-color: var(--color-default, #00756a);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: 100% 100%;
    width: 100%
}

.styles--1U4av {
    transform: scale(1.1) rotate(90deg)
}

.styles--1U4av:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.styles--3xiB9 {
    transform: scale(1.1) rotate(270deg)
}

.styles--3xiB9:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

.styles--1rak3 {
    transform: scale(1.1) rotate(180deg)
}

.styles--1rak3:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

@-webkit-keyframes styles--25cNp {
    0%,
    10% {
        opacity: 0;
        transform: perspective(200px) rotateX(-180deg)
    }
    25%,
    75% {
        opacity: 1;
        transform: perspective(200px) rotateX(0deg)
    }
    90%,
    to {
        opacity: 0;
        transform: perspective(200px) rotateY(180deg)
    }
}

@keyframes styles--25cNp {
    0%,
    10% {
        opacity: 0;
        transform: perspective(200px) rotateX(-180deg)
    }
    25%,
    75% {
        opacity: 1;
        transform: perspective(200px) rotateX(0deg)
    }
    90%,
    to {
        opacity: 0;
        transform: perspective(200px) rotateY(180deg)
    }
}

.styles--1MTJ8 {
    border-top: 1px solid #e7ecf3;
    display: grid;
    height: 60px;
    padding: 10px;
    place-content: center
}

.styles--1MTJ8 .styles---jdHz {
    font-weight: 600;
    margin-bottom: 8px
}

.styles--1MTJ8 .styles--1ht92 {
    box-sizing: border-box;
    text-align: center
}

.styles--26rE2 {
    position: relative
}

.IN-Awli-widget {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%)
}

.styles--u35Am>div:first-child {
    height: 80px;
    min-height: 0;
    transform: scale(.3)
}

.styles--u35Am div:before {
    background-color: #2867b2
}

.styles--3MwEH {
    color: #313b46;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px
}

.styles--3MwEH span {
    color: #6a7381;
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px
}

.styles--AHvMk {
    font-size: 14px
}

.styles--AHvMk:last-child {
    margin-bottom: 0
}

.styles--AHvMk>span {
    color: #6a7381;
    font-size: 13px;
    margin-left: 20px
}

.styles--QmfxN {
    position: relative;
    width: 100%
}

.styles--GtTs9 {
    padding-bottom: 55px
}

.styles--14ing {
    margin-top: 12px;
    position: absolute;
    right: 0;
    width: calc(100% - 20px)
}

.styles--2JC1l {
    margin-bottom: 24px
}

.styles--3mItx {
    background-color: #fafafa;
    margin: 0 -24px 24px;
    padding: 8px 20px
}

.styles--1yi3f {
    border-top: 1px solid #e7ecf3;
    margin: 0 -24px;
    padding: 24px 24px 0
}

.styles--1yi3f .styles--T-XPC {
    margin-left: 8px
}

.styles--1fB-H .styles--11Vnt {
    color: #313b46;
    margin-bottom: 24px
}

.styles--1fB-H .styles--11Vnt h2,
.styles--1fB-H .styles--11Vnt h3,
.styles--1fB-H .styles--11Vnt h4 {
    margin-bottom: 8px
}

.styles--1fB-H .styles--11Vnt p {
    margin-bottom: 1em
}

.styles--1fB-H .styles--11Vnt p:last-of-type {
    margin-bottom: 0
}

.styles--1fB-H .styles--11Vnt strong {
    font-weight: 600
}

.styles--10rb4 {
    margin: 24px auto 64px;
    max-width: 636px;
    width: 100%
}

.styles--1po-D {
    box-sizing: border-box;
    padding: 0 16px
}

.styles--KLzVS {
    border-top: 1px solid #e7ecf3
}

.styles--KLzVS .styles--2QQ4c {
    font-weight: 400;
    margin: 24px 0
}

.styles--KLzVS h3 {
    text-align: center
}

.styles--PaaiU {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 636px;
    padding: 24px 16px 64px;
    width: 100%
}

.styles--PaaiU>:not(:first-child) {
    margin-top: 24px
}

.styles--3TxAr {
    background-color: #00756a;
    background-color: var(--color-default, #00756a);
    height: 6px;
    position: -webkit-sticky;
    position: sticky;
    top: 42px;
    transform-origin: left;
    width: 100%;
    will-change: transform;
    z-index: 11
}

.styles--2ZUgk {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 668px;
    padding: 24px 16px 64px
}

.styles--2ZUgk dialog[data-position-vertical=TOP] {
    z-index: 12
}

.styles--riKcX {
    margin-top: 8px;
    width: 100%
}

.styles--3DJF- {
    display: block;
    padding-bottom: 16px
}

.styles--3vx-H {
    margin-bottom: 40px
}

.styles--3vx-H h2 {
    font-size: 20px;
    line-height: normal
}

.styles--3vx-H h2,
.styles--3vx-H h3,
.styles--3vx-H h4 {
    margin-bottom: 8px
}

.styles--3vx-H div,
.styles--3vx-H ol,
.styles--3vx-H p,
.styles--3vx-H strong,
.styles--3vx-H ul {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1em
}

.styles--3vx-H ol,
.styles--3vx-H ul {
    padding-left: 24px
}

.styles--3vx-H ul {
    list-style: disc
}

.styles--3vx-H ol {
    list-style: decimal
}

.styles--3vx-H img {
    float: none;
    height: auto;
    margin: 8px 0;
    max-width: 100%;
    width: auto
}

.styles--3vx-H strong {
    font-weight: 600
}

.styles--2d3Fz {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 668px;
    padding: 24px 16px 64px;
    position: relative
}

.styles--2d3Fz .styles--3vx-H a {
    font-size: inherit;
    text-decoration: underline
}

.styles--2d3Fz dialog[data-position-vertical=TOP] {
    z-index: 12
}

.styles--1bmT3 {
    height: 40px
}

.styles--2cZ29 {
    height: 1em;
    margin: 12px 0;
    width: 25%
}

.styles--1xj1x {
    width: 66%
}

.styles--WOrhG {
    width: 98%
}

.styles--2z_5t {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 8px 0 0;
    width: 100%
}

.styles--2z_5t .styles--35QFH {
    flex-grow: 1
}

.styles--2z_5t .styles--1E_FM {
    flex-shrink: 0
}

.styles--2z_5t .styles--1E_FM span:first-child {
    padding-left: 24px
}

@media (max-width:420px) {
    .styles--2z_5t {
        display: flex;
        flex-direction: column
    }
    .styles--2z_5t .styles--35QFH {
        margin-bottom: 24px;
        width: 100%
    }
    .styles--2z_5t .styles--1E_FM span:first-child {
        padding-left: 0
    }
}

.styles--3Kowv {
    color: transparent;
    margin-right: 6px
}

.styles--3Kowv use {
    stroke: none
}

.styles--2U3aa {
    align-items: center;
    display: flex;
    height: 19px;
    margin-right: 48px
}

.styles--eqtxl {
    position: absolute !important;
    right: 24px;
    top: 25px
}

.styles--eqtxl dialog {
    z-index: 1
}

/*# sourceMappingURL=job.88911a2056b00679b66e.css.map */