import { precompileTemplate } from "@ember/template-compilation";
export default precompileTemplate("<form class=\"groups-form form-vertical\">\n  <GroupsFormMembershipFields @model={{this.model}} />\n  <GroupManageSaveButton @model={{this.model}} />\n</form>",{ moduleName: "discourse/templates/group/manage/membership.hbs" })