      .button:disabled {
        background-color: grey;
        cursor: not-allowed;
      }

      .heading {
        cursor: pointer;
      }

      .heading.completed {
        color: green;
      }

      .checkmark {
        display: none;
        color: green;
        margin-right: 5px;
        font-size: 1.3em;
        font-weight: bold;
      }

      .loader {
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #000000;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
        display: inline-block;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .error-message {
        color: red;
        margin-top: 5px;
      }