import { precompileTemplate } from "@ember/template-compilation";
export default precompileTemplate("<div class=\"empty-state\">\n  <span class=\"empty-state-title\">\n    {{i18n \"user_menu.generic_no_items\"}}\n  </span>\n</div>",{ moduleName: "discourse/components/user-menu/items-list-empty-state.hbs" })