import { precompileTemplate } from "@ember/template-compilation";
export default precompileTemplate("{{body-class \"account-created-page\"}}\n{{hide-application-header-buttons \"search\" \"login\" \"signup\" \"menu\"}}\n{{hide-application-sidebar}}\n<div class=\"account-created\">\n  {{outlet}}\n</div>",{ moduleName: "discourse/templates/account-created.hbs" })