$primary: #3f3e3e !default; $secondary: #ffffff !default; $tertiary: #2095f3 !default; $quaternary: #2095f3 !default; $header_background: #414453 !default; $header_primary: #ffffff !default; $highlight: #2196f3 !default; $danger: #bf3c3c !default; $success: #97de86 !default; $love: #fc94cb !default; $hover: #f4f3f3 !default; $selected: #ececec !default;  $public_image_path: "https://community.kobotoolbox.org/images";  @import "common/foundation/variables"; @import "common/foundation/mixins"; .topic-above-footer-buttons-outlet.presence {
  min-height: 1.8em; // height of the avatars, prevents layout shift
  margin: var(--below-topic-margin) 0;
}

.presence-users {
  background-color: var(--secondary);
  color: var(--primary-medium);
  display: flex;

  span.presence-text {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    margin-left: 8px;
  }

  .presence-avatars {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  }

  .wave {
    display: inline-flex;
    flex: 0 0 auto;

    .dot {
      display: inline-block;
      @media (prefers-reduced-motion: no-preference) {
        animation: wave 1.8s linear infinite;
      }

      &:nth-child(2) {
        animation-delay: -1.6s;
      }

      &:nth-child(3) {
        animation-delay: -1.4s;
      }
    }
  }

  @keyframes wave {
    0%,
    60%,
    100% {
      transform: initial;
    }

    30% {
      transform: translateY(-0.2em);
    }
  }
}

.composer-fields .presence-users {
  overflow: hidden;
  flex-shrink: 1;
  .presence-avatars {
    flex-wrap: nowrap;
  }
}

.mobile-view .composer-fields .presence-users .description {
  display: none;
}

// TMP: RTL overrides
.rtl {
  span.presence-text {
    margin-right: 8px;
  }

  .composer-fields .presence-users {
    right: unset;
    left: 95px;
  }

  &.mobile-view {
    .composer-fields .presence-users {
      right: unset;
      left: 65px;
    }
  }
}
