$primary: #3f3e3e !default; $secondary: #ffffff !default; $tertiary: #2095f3 !default; $quaternary: #2095f3 !default; $header_background: #414453 !default; $header_primary: #ffffff !default; $highlight: #2196f3 !default; $danger: #bf3c3c !default; $success: #97de86 !default; $love: #fc94cb !default; $hover: #f4f3f3 !default; $selected: #ececec !default;  $public_image_path: "https://community.kobotoolbox.org/images";  @import "common/foundation/variables"; @import "common/foundation/mixins"; .d-modal.user-notes-modal {
  .d-modal__container {
    width: 100%;
  }

  .posted-by {
    width: 40px;
    float: left;
  }
  .note-contents {
    overflow: hidden;

    .cooked {
      margin-top: 0.5em;
    }

    .username {
      font-weight: bold;
    }

    p {
      margin: 0 0 1em 0;
    }
  }

  .user-note {
    border-top: 1px solid var(--primary-low);
    padding-top: 1em;

    &:first-of-type {
      margin-top: 1em;
    }
    @include breakpoint(mobile, min-width) {
      max-width: 530px;
    }
  }

  .controls {
    float: right;
  }
}

.show-user-notes-on-flags {
  display: inline-block;

  button {
    display: inline;
    padding: 0;
  }
}

.show-user-notes-on-card {
  button {
    display: inline;
    padding: 0;
  }
}

.user-notes-icon {
  .mobile-view & {
    order: 2;
    margin-left: 10px;
  }
  cursor: pointer;
}

.admin-report.user-notes {
  grid-column: span 12;

  .admin-report-table {
    table-layout: auto;

    tbody tr td,
    thead tr th {
      text-align: left;
    }

    thead tr th.note,
    tbody tr td.note {
      width: 60%;
    }
  }
}

.add-user-note {
  border-top: 1px solid rgba(var(--primary-low-rgb), 0.5);
}
