import { precompileTemplate } from "@ember/template-compilation";
export default precompileTemplate("<span {{did-insert this.highlight}}>\n  {{html-safe @string}}\n</span>",{ moduleName: "discourse/components/search-menu/highlighted-search.hbs" })