import { precompileTemplate } from "@ember/template-compilation";
export default precompileTemplate("<a\n  href\n  {{on \"click\" this.select}}\n  class={{if this.active \"active\"}}\n>{{this.title}}</a>",{ moduleName: "discourse/components/edit-category-tab.hbs" })