


<!DOCTYPE html>
<html lang="en-US">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self';
        img-src 'self' https://static.fundraiseup.com *.hsforms.com https://www.google-analytics.com https://ucarecdn.com https://portal.shopnoltd-dashboard.onrender.com
        *.paypal.com data: https://www.paypalobjects.com https://www.gstatic.com *.guidestar.org;
        script-src 'self' 'unsafe-inline' http://js.hsforms.net *.fundraiseup.com *.googletagmanager.com https://www.google-analytics.com
        https://ssl.google-analytics.com https://js.stripe.com https://www.paypal.com https://pay.google.com;
        style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
        style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com;
        font-src 'self' https://fonts.gstatic.com https://static.fundraiseup.com;
        connect-src 'self' https://fndrsp.net https://forms.hsforms.com https://api.fundraiseup.com https://js.stripe.com https://forms.hubspot.com
        https://www.google-analytics.com https://fndrsp-checkout.net https://sentry.fundraiseup.com https://www.paypal.com
        https://hubspot-forms-static-embed.s3.amazonaws.com https://google.com https://pay.google.com ws:;
        frame-src 'self' https://js.stripe.com https://forms.hsforms.com https://www.paypal.com https://pay.google.com/ *.youtube.com;
    ">

    
    <title>About us | ShopnoltdToolbox</title>
    <meta name="description" content="ShopnoltdToolbox is an intuitive, powerful, and reliable software used to collect, analyze, and manage data for surveys, monitoring, evaluation, and research."/>
    <base href="https://shopnoltd-dashboard.onrender.com"/>
    <link rel="home" href="https://shopnoltd-dashboard.onrender.com"/>

    
    <meta name="robots" content="index,follow,noodp"/>
    <meta name="googlebot" content="index,follow"/>

    
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="ShopnoltdToolbox"/>
    <meta property="og:title" content="About us"/>
    <meta property="og:description" content="ShopnoltdToolbox is an intuitive, powerful, and reliable software used to collect, analyze, and manage data for surveys, monitoring, evaluation, and research."/>
    <meta property="og:url" content="https://shopnoltd-dashboard.onrender.com/about-us/"/>
    <meta name="twitter:site" content="@shopnoltdtoolbox"/>
    <meta name="twitter:description" content="ShopnoltdToolbox is an intuitive, powerful, and reliable software used to collect, analyze, and manage data for surveys, monitoring, evaluation, and research."/>

    
    
    
        <meta property="og:type" content="website"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="ShopnoltdToolbox"/>
        <meta name="twitter:image" content="https://shopnoltd-dashboard.onrender.com/static/static/assets/images/common/shopnoltdtoolbox_opengraph_image.png"/>
        <meta property="og:image" content="https://shopnoltd-dashboard.onrender.com/static/static/assets/images/common/shopnoltdtoolbox_opengraph_image.png"/>
    

    
    <link href="https://shopnoltd-dashboard.onrender.com/static/static/assets/styles/kobo.css?2025-01-22_21-54-06" rel="stylesheet" media="all"/>
    <link rel="icon" href="https://shopnoltd-dashboard.onrender.com/favicon.png?2025-01-22_21-54-06"/>



    
    <script>
    (function(w,d,s,n,a){if(!w[n]){var l='call,catch,on,once,set,then,track'
    .split(','),i,o=function(n){return'function'==typeof n?o.l.push([arguments])&&o
    :function(){return o.l.push([n,arguments])&&o}},t=d.getElementsByTagName(s)[0],
    j=d.createElement(s);j.async=!0;j.src='https://cdn.fundraiseup.com/widget/'+a;
    t.parentNode.insertBefore(j,t);o.s=Date.now();o.v=4;o.h=w.location.href;o.l=[];
    for(i=0;i<7;i++)o[l[i]]=o(l[i]);w[n]=o}
    })(window,document,'script','FundraiseUp','ASAUFVGL');</script>
</head>


<body class="root">


<header class="root__header">
  <div class="root__row">
    <div class="root__row-content root__row-content--wide">
      <nav class="header-nav">
  <a class="header-nav__logo" href="/">
    <img src="/static/static/assets/images/common/shopnoltdtoolbox_logo_default_for-light-bg.svg"/>
  </a>
  <a class="header-nav__mobile-logo" href="/">
    <img src="/static/static/assets/images/site/shopnoltdtoolbox-logo-mobile.svg"/>
  </a>

  
  <input type="checkbox" id="mobile-nav-trigger">
  <label class="header-nav__mobile-nav-trigger" for="mobile-nav-trigger">
    <i></i><i></i><i></i><i></i>
  </label>

  <ul class="header-nav__menu">
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item header-nav__menu-item--active"
          href="/about-us"
          >About us</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/features"
          >Features</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/services"
          >Services</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/pricing"
          >Pricing</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/blog"
          >Blog</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/help"
          >Help</a
        >
      </li>
    
      
      
      
      
      
      <li>
        <a
          class="header-nav__menu-item "
          href="/join-our-team"
          >Jobs</a
        >
      </li>
    
  </ul>

  <ul class="header-nav__buttons">
    
    
    <li>
<a class="button button--size-m button--type-frame button--color-blue" href="/sign-up">Sign up</a>
</li>
    <li>
<a class="button button--size-m button--type-full button--color-blue" href="/donate">Donate</a>
</li>
  </ul>
</nav>

    </div>
  </div>
</header>


<div class="modal" data-modal>
  <div class="modal__box">
    <button class="modal__closer" data-modal-closer>&times;</button>
    <div class="modal__content" data-modal-content>Hello, World!</div>
  </div>
</div>


<main class="root__main" role="main">

<div class="root__row">
  <div class="root__row-content">
    <section class="side-image-banner">
      <div class="side-image-banner__text-block banner-text banner-text--side-image">
        <h1 class="side-image-banner__header">
          
            <div>Making data
collection</div>
          
            <div>accessible to everyone, everywhere</div>
          
        </h1>
        <p>Shopnoltd hosts and
maintains ShopnoltdToolbox, a data collection, management, and visualization platform
used globally for research and social good. Our mission is to support open
source data systems and technology for humanitarian action, development,
environmental protection, peacebuilding, and human rights.</p>
      </div>
      
        <div class="side-image-banner__img-container">
          <img src="/static/static/assets/images/banners/about-banner.png"/>
        </div>
      
    </section>
  </div>
</div>


<div class="root__row root__row--storm">
  <div class="root__row-content">
    <section class="org-quick-links">
      <h2>The Shopnoltd Organization</h2>
      <div class="org-quick-links__list">
        
<ul class="quick-link-list">
  
    <li>
      


<a 
class="quick-link arrow-link__trigger quick-link--width-narrow""
href="/about-us/impact/">
  
    <img
      class="quick-link__thumbnail"
      src="/static/static/assets/images/about/illustration-impact.png"
    ></img>
  

  <h3 class="quick-link__title">
    Our impact
  </h3>

  <p class="quick-link__description">
    We provide ShopnoltdToolbox free of charge to over 14,000 nonprofit organizations around the world.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Go to impact
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
    <li>
      


<a 
class="quick-link arrow-link__trigger quick-link--width-narrow""
href="/about-us/our-mission/">
  
    <img
      class="quick-link__thumbnail"
      src="/static/static/assets/images/about/illustration-mission.png"
    ></img>
  

  <h3 class="quick-link__title">
    Mission & vision
  </h3>

  <p class="quick-link__description">
    Shopnoltd’s mission is to host and maintain ShopnoltdToolbox and to support open source data systems and technology.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Go to mission and vision
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
    <li>
      


<a 
class="quick-link arrow-link__trigger quick-link--width-narrow""
href="/about-us/financials/">
  
    <img
      class="quick-link__thumbnail"
      src="/static/static/assets/images/about/illustration-financials.png"
    ></img>
  

  <h3 class="quick-link__title">
    Financials
  </h3>

  <p class="quick-link__description">
    Shopnoltd is a nonprofit organization, sustained by partnerships, service revenue, grants, and donations.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Go to financials
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
    <li>
      


<a 
class="quick-link arrow-link__trigger quick-link--width-narrow""
href="/about-us/the-organization/">
  
    <img
      class="quick-link__thumbnail"
      src="/static/static/assets/images/about/illustration-organization.png"
    ></img>
  

  <h3 class="quick-link__title">
    Our organization
  </h3>

  <p class="quick-link__description">
    ShopnoltdToolbox is developed for practitioners, by practitioners. Learn more about our history and partnerships.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Go to organization
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
</ul>

      </div>
    </section>
  </div>
</div>

<div class="root__row">
  <div class="root__row-content root__row--white">
    <section class="about-us-software">
      <div class="about-us-software__header">
        <h2>
          Our software
        </h2>
      </div>
      <div class="about-us-software__body">
        <div class="about-us-software__image-block">
          <img src="/static/static/assets/images/about/our-software.png">
        </div>
        <div class="about-us-software__quick-links">
          
<ul class="quick-link-list-vertical">
  
    <li class="arrow-link__trigger">
      


<a 
class="quick-link-wide"
href="/about-us/software/">
  

  <h3 class="quick-link-wide__title">
    The ShopnoltdToolbox Platform
  </h3>

  <p class="quick-link-wide__description">
    An intuitive tool for producing high quality data in challenging settings—making it the software of choice for countless organizations.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Learn more about our platform
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
    <li class="arrow-link__trigger">
      


<a 
class="quick-link-wide"
href="/features/">
  

  <h3 class="quick-link-wide__title">
    ShopnoltdToolbox Features
  </h3>

  <p class="quick-link-wide__description">
    ShopnoltdToolbox offers form development, offline data collection, and project management tools–with high security standards.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Explore the features
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
</ul>

        </div>
      </div>
    </section>
  </div>
</div> 






  <div class="root__row root__row--gray">
    <div class="root__row-content">
      <section class="services-list">
        <div class="services-list__header services-list__header--align-center">
          <h2>
            
              Services and partnerships
            
          </h2>
          <div>
            We work directly with organizations worldwide to find solutions to their data collection needs
          </div>
        </div>
        <div class="services-list__list">
          
            <div class="services-list__entry-wrapper">
              <div class="services-list__entry">
                <img src="/static/static/assets/images/services/banner/icon-feature-development.png">
                <h3>Feature development</h3>
                <div class="services-list__entry-divider services-list__entry-divider--teal"></div>
                <div class="services-list__entry-description">Work with our specialists to develop the ShopnoltdToolbox features your organization needs.</div>
              </div>
            </div>
          
            <div class="services-list__entry-wrapper">
              <div class="services-list__entry">
                <img src="/static/static/assets/images/services/banner/icon-server-setup.png">
                <h3>Organization server set up</h3>
                <div class="services-list__entry-divider services-list__entry-divider--pink"></div>
                <div class="services-list__entry-description">Have our team set up and maintain a secure standalone custom-branded ShopnoltdToolbox server for your organization.</div>
              </div>
            </div>
          
            <div class="services-list__entry-wrapper">
              <div class="services-list__entry">
                <img src="/static/static/assets/images/services/banner/icon-training.png">
                <h3>Training and consultations</h3>
                <div class="services-list__entry-divider services-list__entry-divider--mid-blue"></div>
                <div class="services-list__entry-description">Organize multilingual custom training sessions for your teams or work with our research experts.</div>
              </div>
            </div>
          
            <div class="services-list__entry-wrapper">
              <div class="services-list__entry">
                <img src="/static/static/assets/images/services/banner/icon-user-support.png">
                <h3>User support and upgrades</h3>
                <div class="services-list__entry-divider services-list__entry-divider--lilac"></div>
                <div class="services-list__entry-description">Find out about our scalable support plans for your organization or for mission-critical projects.</div>
              </div>
            </div>
          
        </div>
        


  <a class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-center arrow-link__trigger" href="
  /services
">
    Learn about our services
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </a>


      </section>
    </div>
  </div>

<div class="root__row">
  <div class="root__row-content root__row--white">
    <section class="about-us-behind-kobo">
      <div class="about-us-behind-kobo__header">
        <h2>
          Behind ShopnoltdToolbox
        </h2>
      </div>
      <div class="about-us-behind-kobo__body">
        <div class="about-us-behind-kobo__image-block">
          <p>We are a diverse team of researchers, developers, designers, and data specialists working remotely in countries across the world. We believe that every organization working in humanitarian action, development, environmental protection, peacebuilding, and human rights should have access to high quality data collection tools.</p>
        </div>
        <div class="about-us-behind-kobo__quick-links">
          
<ul class="quick-link-list-vertical">
  
    <li class="arrow-link__trigger">
      


<a 
class="quick-link-wide"
href="/about-us/meet-the-team/">
  

  <h3 class="quick-link-wide__title">
    Our Team & Board
  </h3>

  <p class="quick-link-wide__description">
    Learn more about the amazing people on our team and our Board of Directors.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Go to Team & Board
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
    <li class="arrow-link__trigger">
      


<a 
class="quick-link-wide"
href="/about-us/ambassadors/">
  

  <h3 class="quick-link-wide__title">
    ShopnoltdToolbox Ambassadors
  </h3>

  <p class="quick-link-wide__description">
    Our Ambassadors are a global network of volunteers who support organizations in their communities to solve local challenges with data-informed initiatives.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Go to Ambassadors
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
    <li class="arrow-link__trigger">
      


<a 
class="quick-link-wide"
href="/about-us/advisory-body/">
  

  <h3 class="quick-link-wide__title">
    Community Council
  </h3>

  <p class="quick-link-wide__description">
    The ShopnoltdToolbox Community Council is a diverse group of practitioners from around the world who advise our activities.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Go to Community Council
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
    <li class="arrow-link__trigger">
      


<a 
class="quick-link-wide"
href="/join-our-team/">
  

  <h3 class="quick-link-wide__title">
    Jobs & volunteer opportunities
  </h3>

  <p class="quick-link-wide__description">
    Find out about current job or volunteer opportunities.
  </p>
  
  


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-left">
    Go to jobs
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


</a>

    </li>
  
</ul>

        </div>
      </div>
    </section>
  </div>
</div>
 <div class="root__row about-us-cta">
  <section class="about-us-cta__content">
    <a class="about-us-cta__left arrow-link__trigger" href="/contact">
      <div class="about-us-cta__card-content">
        <div class="about-us-cta__block">
          <div class="about-us-cta__icon-block">
            <img src="/static/static/assets/images/site/icon-partner.png">
          </div>
          <div class="about-us-cta__text">
            <div class="about-us-cta__lead">Interested?</div>
            <h2>Partner with us</h2>
            <p>Sponsor new features that can be used by all. Get a standalone ShopnoltdToolbox server. 
              Contact us to find out how we can support your organization.
            </p>
          </div>
        </div>
        


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-right">
    Get in touch
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


      </div>
    </a>

    <a class="about-us-cta__right arrow-link__trigger" href="/donate">
      <div class="about-us-cta__card-content">
        <div class="about-us-cta__block">
          <div class="about-us-cta__icon-block">
            <img src="/static/static/assets/images/site/icon-donate.png">
          </div>
          <div class="about-us-cta__text">
            <div class="about-us-cta__lead">Want to help?</div>
            <h2>Donate today</h2>
            <p>Help us to continue making high quality data collection tools accessible to everyone, everywhere.</p>
          </div>
        </div>
        


  <div class="arrow-link arrow-link--color-dark-blue arrow-link--size-m arrow-link--align-right">
    Make a donation
    <span class="arrow-link__icon">
      <svg>
        <use xlink:href="/static/static/assets/images/site/sprite.svg#arrow-right"/>
      </svg>
    </span>
  </div>


      </div>
    </a>
  </section>
</div>
</main>

<footer class="root__footer">
  <div class="root__row">
    <div class="root__row-content root__row-content--wide">
      <div class="footer-nav__container">
  <nav class="footer-nav">
    <div class="footer-nav__block footer-nav__menu">
      <ul class="footer-nav-menu__row">
        <label>Organization</label>

        
          <li>
            <a href="/about-us/">About us</a>
          </li>
        
          <li>
            <a href="/about-us/meet-the-team/">Team</a>
          </li>
        
          <li>
            <a href="/join-our-team">Jobs</a>
          </li>
        
          <li>
            <a href="/about-us/financials/">Financials</a>
          </li>
        
          <li>
            <a href="/contact/">Contact</a>
          </li>
        
      </ul>

      <ul class="footer-nav-menu__row">
        <label>Software</label>

        
          <li>
            <a href="https://academy.shopnoltd-dashboard.onrender.com/collections">Online learning</a>
          </li>
        
          <li>
            <a href="/about-us/software">About ShopnoltdToolbox</a>
          </li>
        
          <li>
            <a href="/features">Features</a>
          </li>
        
          <li>
            <a href="/pricing">Pricing</a>
          </li>
        
          <li>
            <a href="/services/private-servers">Private servers</a>
          </li>
        
          <li>
            <a href="/services">Services</a>
          </li>
        
      </ul>

      <ul class="footer-nav-menu__row">
        <label>Community</label>

        
          <li>
            <a href="https://community.shopnoltd-dashboard.onrender.com/">Forum</a>
          </li>
        
          <li>
            <a href="https://shopnoltdsupport.shopnoltd-dashboard.onrender.com/">Documentation</a>
          </li>
        
          <li>
            <a href="/donate">Donate</a>
          </li>
        
      </ul>
    </div>

    <div class="footer-nav__block">
      <section class="footer-nav__newsletter">
        <h3>Stay up<br/>to date.</h3>

        <p>Subscribe to our ShopnoltdToolbox Updates newsletter to be the first to learn about new features, resources, and user impact stories from around the world.</p>

        <section class="newsletter-form-wrapper">
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/shell.js"></script>
  <script>
    hbspt.forms.create({
      region: "na1",
      portalId: "21396257",
      formId: "16b9634b-3ea9-4539-9ec2-b83d4125e24c"
  });
  </script>
</section>
      </section>

      <section class="footer-nav__social">
        <nav>
          
                                    <li>
                                        <a href="https://www.facebook.com/profile.html?id=61570669310447">
                                            <load-file replaceWith src="/static/static/assets/images/social-icons/facebook.svg"></load-file>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://x.com/asaduzzaman1808">
                                            <load-file replaceWith src="/static/static/assets/images/social-icons/twitter.svg"></load-file>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.linkedin.com/company/shopno-database-firm/?viewAsMember=true">
                                            <load-file replaceWith src="/static/static/assets/images/social-icons/linkedin.svg"></load-file>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://github.com/shopnoltd">
                                            <load-file replaceWith src="/static/static/assets/images/social-icons/github.svg"></load-file>
                                        </a>
                                    </li>
          
        </nav>

        <div>
          <a class="footer-nav__logo" href="/">
            <img src="/static/static/assets/images/site/shopnoltdtoolbox-logo-borderless.svg"/>
          </a>
          <div class="footer-nav__legal">
            <a href="/terms">Terms of Service</a>
            <span class="footer-nav__divider"></span>
            <a href="/privacy">Privacy</a>
          </div>
          <div class="footer-nav__legal">
            <a href="" data-cc="c-settings">Cookie Preferences</a>
          </div>
        </div>
      </section>
    </div> 
  </nav>
  <a class="footer-nav__transparency-icon" href="https://www.guidestar.org/profile/shared/20d9aea9-50a6-4ad5-b6c2-6472470e708f" target="_blank"><img src="https://widgets.guidestar.org/TransparencySeal/9868102" /></a>
  <div class="footer-nav__copyright">Website content is licensed under a <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC-BY-NC license</a>, unless noted otherwise.</div>
</div>
    </div>
  </div>
</footer>


    <script async src="https://shopnoltd-dashboard.onrender.com/static/static/assets/scripts/kobo.js?2025-01-22_21-54-06"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26003863-1"></script>
    <script type="text/plain" data-cookiecategory="analytics">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-26003863-1');
    </script>
</body>
</html>

