import { precompileTemplate } from "@ember/template-compilation";
export default precompileTemplate("<div\n  aria-hidden=\"true\"\n  class=\"d-lightbox__backdrop\"\n  tabindex=\"-1\"\n  {{on \"click\" @close passive=true capture=true}}\n></div>",{ moduleName: "discourse/components/d-lightbox/backdrop.hbs" })