:root {
    --scheme-type: light;
    --primary: #3f3e3e;
    --secondary: #ffffff;
    --tertiary: #2095f3;
    --quaternary: #2095f3;
    --header_background: #414453;
    --header_primary: #ffffff;
    --highlight: #2196f3;
    --danger: #bf3c3c;
    --success: #97de86;
    --love: #fc94cb;
    --d-selected: #ececec;
    --d-hover: #f4f3f3;
    --always-black-rgb: 0, 0, 0;
    --primary-rgb: 63, 62, 62;
    --primary-low-rgb: 236, 236, 236;
    --primary-very-low-rgb: 249, 249, 249;
    --secondary-rgb: 255, 255, 255;
    --header_background-rgb: 65, 68, 83;
    --tertiary-rgb: 32, 149, 243;
    --highlight-rgb: 33, 150, 243;
    --success-rgb: 151, 222, 134;
    --primary-very-low: #f9f9f9;
    --primary-low: #ececec;
    --primary-low-mid: #c6c5c5;
    --primary-medium: #a09e9e;
    --primary-high: #797777;
    --primary-very-high: #5c5b5b;
    --primary-50: #f9f9f9;
    --primary-100: #f4f3f3;
    --primary-200: #ececec;
    --primary-300: #d9d8d8;
    --primary-400: #c6c5c5;
    --primary-500: #b3b1b1;
    --primary-600: #a09e9e;
    --primary-700: #898787;
    --primary-800: #797777;
    --primary-900: #5c5b5b;
    --header_primary-low: rgb(102, 103, 113);
    --header_primary-low-mid: rgb(160, 161, 165);
    --header_primary-medium: rgb(194, 195, 197);
    --header_primary-high: rgb(216, 217, 218);
    --header_primary-very-high: rgb(243, 243, 243);
    --secondary-low: #4d4d4d;
    --secondary-medium: gray;
    --secondary-high: #a6a6a6;
    --secondary-very-high: #ededed;
    --tertiary-very-low: #e9f4fe;
    --tertiary-low: #deeffd;
    --tertiary-medium: #90caf9;
    --tertiary-high: #4daaf5;
    --tertiary-hover: #0b71c4;
    --tertiary-50: #e9f4fe;
    --tertiary-100: #e4f2fe;
    --tertiary-200: #e2f1fd;
    --tertiary-300: #deeffd;
    --tertiary-400: #c5e3fc;
    --tertiary-500: #acd8fb;
    --tertiary-600: #90caf9;
    --tertiary-700: #79bff8;
    --tertiary-800: #63b5f7;
    --tertiary-900: #4daaf5;
    --quaternary-low: #bcdffb;
    --highlight-bg: #bce0fb;
    --highlight-low: #bce0fb;
    --highlight-medium: #90cbf9;
    --highlight-high: #074c83;
    --danger-low: #f6e1e1;
    --danger-low-mid: rgba(224, 156, 156, 0.7);
    --danger-medium: #d47575;
    --danger-hover: #993030;
    --success-low: #eaf8e7;
    --success-medium: #cbefc3;
    --success-hover: #67cf4e;
    --love-low: #ffeff7;
    --wiki: green;
    --blend-primary-secondary-5: rgb(249, 249, 249);
    --primary-med-or-secondary-med: #a09e9e;
    --primary-med-or-secondary-high: #a09e9e;
    --primary-high-or-secondary-low: #797777;
    --primary-low-mid-or-secondary-high: #c6c5c5;
    --primary-low-mid-or-secondary-low: #c6c5c5;
    --primary-or-primary-low-mid: #3f3e3e;
    --highlight-low-or-medium: #bce0fb;
    --tertiary-or-tertiary-low: #2095f3;
    --tertiary-low-or-tertiary-high: #deeffd;
    --tertiary-med-or-tertiary: #90caf9;
    --secondary-or-primary: #ffffff;
    --tertiary-or-white: #2095f3;
    --facebook-or-white: #0866ff;
    --twitter-or-white: #000;
    --hljs-comment: #998;
    --hljs-number: #099;
    --hljs-string: #d14;
    --hljs-literal: #458;
    --hljs-tag: #000080;
    --hljs-attribute: #008080;
    --hljs-symbol: #990073;
    --hljs-bg: #f8f8f8;
    --hljs-builtin-name: #4daaf5;
    --google: #ffffff;
    --google-hover: #f2f2f2;
    --instagram: #e1306c;
    --instagram-hover: #ac194b;
    --facebook: #0866ff;
    --facebook-hover: #0047bb;
    --cas: #70ba61;
    --twitter: #000;
    --github: #100e0f;
    --github-hover: #463e42;
    --discord: #7289da;
    --discord-hover: #4a67cf;
    --gold: rgb(231, 195, 0);
    --silver: #c0c0c0;
    --bronze: #cd7f32;
    --shadow-modal: 0 8px 60px rgba(0, 0, 0, 0.6);
    --shadow-composer: 0 -1px 40px rgba(0, 0, 0, 0.12);
    --shadow-menu-panel: 0 8px 12px rgba(0, 0, 0, 0.15);
    --shadow-card: 0 4px 14px rgba(0, 0, 0, 0.15);
    --shadow-dropdown: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    --shadow-header: 0 0 0 1px var(--primary-low);
    --shadow-footer-nav: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    --shadow-focus-danger: 0 0 6px 0 var(--danger);
    --float-kit-arrow-stroke-color: var(--primary-low);
    --float-kit-arrow-fill-color: var(--secondary)
}

:root {
    --chat-skeleton-animation-rgb: 249, 249, 249
}

:root {
    --font-family: Arial, sans-serif
}

:root {
    --heading-font-family: Arial, sans-serif
}

/*# sourceMappingURL=color_definitions_kobo-scheme_2_3_7176075b3dc48790f9c54ab087ed9457fce528f3.css.map?__ws=community.kobotoolbox.org */