:export {
  white: #ffffff;
  grey100: #fbfbfb;
  grey200: #f3f5f8;
  grey300: #e7ecf3;
  grey400: #d0d8e4;
  grey500: #919bab;
  grey600: #6a7381;
  grey700: #313b46;
  grey800: #0f161e;
  green50: #e9fcf4;
  green100: #ccf4dd;
  green200: #7edcaf;
  green300: #06cb8a;
  green400: #05b279;
  green500: #00756a;
  green600: #00665b;
  green700: #00554b;
  blue50: #eef8ff;
  blue100: #c7e2ff;
  blue200: #75acff;
  blue300: #5d9aee;
  blue400: #4385e0;
  blue500: #226ace;
  blue600: #1859b5;
  blue700: #0f4897;
  petrol50: #e3fbfb;
  petrol100: #c5f5f5;
  petrol200: #65e2ea;
  petrol300: #00bcc9;
  petrol400: #00a5ae;
  petrol500: #107191;
  petrol600: #005e7f;
  petrol700: #004561;
  purple50: #fbf4ff;
  purple100: #edd5ff;
  purple200: #d8adff;
  purple300: #b46efe;
  purple400: #9e4ff0;
  purple500: #8736dc;
  purple600: #6509bf;
  purple700: #430080;
  red50: #fff1f1;
  red100: #ffd2cf;
  red200: #fa8373;
  red300: #f1674f;
  red400: #e54d33;
  red500: #cc2c11;
  red600: #af0200;
  red700: #990000;
  orange50: #fffadf;
  orange100: #fff0b8;
  orange200: #ffdb73;
  orange300: #ffb420;
  orange400: #ffa740;
  orange500: #ff8f0d;
  orange600: #ad4800;
  orange700: #943e00;
}

:export {
  heading1-large: 64px;
  heading1-large-tablet: 48px;
  heading1-large-mobile: 40px;
  heading1: 40px;
  heading1-mobile: 32px;
  heading2: 32px;
  heading2-tablet-mobile: 28px;
  heading3: 24px;
  subheading: normal;
  text-main-body: 24px;
  text-body: 20px;
  text-secondary: 16px;
  caption1: 20px;
  caption2: 20px;
  caption3: 16px;
}

:export {
  heading1-large: 48px;
  heading1-large-tablet: 36px;
  heading1-large-mobile: 32px;
  heading1: 32px;
  heading1-tablet: 28px;
  heading1-mobile: 24px;
  heading2: 24px;
  heading2-tablet-mobile: 20px;
  heading3: 18px;
  subheading: 16px;
  text-main-body: 16px;
  text-body: 14px;
  text-secondary: 13px;
  caption1: 14px;
  caption2: 13px;
  caption3: 11px;
}

:export {
  xsmall: 4px;
  small: 8px;
  seminormal: 12px;
  normal: 16px;
  semilarge: 24px;
  large: 32px;
  xlarge: 48px;
}

:export {
  white: #ffffff;
  grey100: #fbfbfb;
  grey200: #f3f5f8;
  grey300: #e7ecf3;
  grey400: #d0d8e4;
  grey500: #919bab;
  grey600: #6a7381;
  grey700: #313b46;
  grey800: #0f161e;
  green50: #e9fcf4;
  green100: #ccf4dd;
  green200: #7edcaf;
  green300: #06cb8a;
  green400: #05b279;
  green500: #00756a;
  green600: #00665b;
  green700: #00554b;
  blue50: #eef8ff;
  blue100: #c7e2ff;
  blue200: #75acff;
  blue300: #5d9aee;
  blue400: #4385e0;
  blue500: #226ace;
  blue600: #1859b5;
  blue700: #0f4897;
  petrol50: #e3fbfb;
  petrol100: #c5f5f5;
  petrol200: #65e2ea;
  petrol300: #00bcc9;
  petrol400: #00a5ae;
  petrol500: #107191;
  petrol600: #005e7f;
  petrol700: #004561;
  purple50: #fbf4ff;
  purple100: #edd5ff;
  purple200: #d8adff;
  purple300: #b46efe;
  purple400: #9e4ff0;
  purple500: #8736dc;
  purple600: #6509bf;
  purple700: #430080;
  red50: #fff1f1;
  red100: #ffd2cf;
  red200: #fa8373;
  red300: #f1674f;
  red400: #e54d33;
  red500: #cc2c11;
  red600: #af0200;
  red700: #990000;
  orange50: #fffadf;
  orange100: #fff0b8;
  orange200: #ffdb73;
  orange300: #ffb420;
  orange400: #ffa740;
  orange500: #ff8f0d;
  orange600: #ad4800;
  orange700: #943e00;
}

:export {
  color-default: #00756a;
  color-white: #ffffff;
  color-font-primary: #313b46;
  color-font-secondary: #6a7381;
  color-font-primary-light: #ffffff;
  color-font-primary-dark: #313b46;
  color-border-default: #d0d8e4;
  color-success: #05b279;
  color-success-button: #7edcaf;
  color-success-background: #e9fcf4;
  color-success-outline: #ccf4dd;
  color-danger: #cc2c11;
  color-danger-background: #fff1f1;
  color-danger-outline: #ffd2cf;
  color-caution: #ad4800;
  color-caution-button: #ffdb73;
  color-caution-background: #fffadf;
  color-caution-outline: #fff0b8;
  color-informational: #226ace;
  color-informational-background: #eef8ff;
  color-informational-outline: #c7e2ff;
  color-warning: #ffb420;
  color-ai: #8736dc;
  color-ai-background: #fbf4ff;
  color-ai-outline: #edd5ff;
  color-beta-primary: #107191;
  color-beta-secondary: #c5f5f5;
  color-neutral: #6a7381;
  color-muted: #f3f5f8;
  background-color: #ffffff;
  background-color-secondary: #f3f5f8;
  background-color-dark: #313b46;
  color-outline: #226ace;
  color-outline-focus: #6a7381;
  color-input-default: #d0d8e4;
  color-input-muted: #919bab;
  color-input-placeholder: #6a7381;
  color-input-label-optional: #919bab;
  color-input-helper-default: #6a7381;
  color-dismiss-default: #919bab;
}

:export {
  white: #ffffff;
  grey100: #fbfbfb;
  grey200: #f3f5f8;
  grey300: #e7ecf3;
  grey400: #d0d8e4;
  grey500: #919bab;
  grey600: #6a7381;
  grey700: #313b46;
  grey800: #0f161e;
  green50: #e9fcf4;
  green100: #ccf4dd;
  green200: #7edcaf;
  green300: #06cb8a;
  green400: #05b279;
  green500: #00756a;
  green600: #00665b;
  green700: #00554b;
  blue50: #eef8ff;
  blue100: #c7e2ff;
  blue200: #75acff;
  blue300: #5d9aee;
  blue400: #4385e0;
  blue500: #226ace;
  blue600: #1859b5;
  blue700: #0f4897;
  petrol50: #e3fbfb;
  petrol100: #c5f5f5;
  petrol200: #65e2ea;
  petrol300: #00bcc9;
  petrol400: #00a5ae;
  petrol500: #107191;
  petrol600: #005e7f;
  petrol700: #004561;
  purple50: #fbf4ff;
  purple100: #edd5ff;
  purple200: #d8adff;
  purple300: #b46efe;
  purple400: #9e4ff0;
  purple500: #8736dc;
  purple600: #6509bf;
  purple700: #430080;
  red50: #fff1f1;
  red100: #ffd2cf;
  red200: #fa8373;
  red300: #f1674f;
  red400: #e54d33;
  red500: #cc2c11;
  red600: #af0200;
  red700: #990000;
  orange50: #fffadf;
  orange100: #fff0b8;
  orange200: #ffdb73;
  orange300: #ffb420;
  orange400: #ffa740;
  orange500: #ff8f0d;
  orange600: #ad4800;
  orange700: #943e00;
}

:export {
  color-default: #00756a;
  color-white: #ffffff;
  color-font-primary: #313b46;
  color-font-secondary: #6a7381;
  color-font-primary-light: #ffffff;
  color-font-primary-dark: #313b46;
  color-border-default: #d0d8e4;
  color-success: #05b279;
  color-success-button: #7edcaf;
  color-success-background: #e9fcf4;
  color-success-outline: #ccf4dd;
  color-danger: #cc2c11;
  color-danger-background: #fff1f1;
  color-danger-outline: #ffd2cf;
  color-caution: #ad4800;
  color-caution-button: #ffdb73;
  color-caution-background: #fffadf;
  color-caution-outline: #fff0b8;
  color-informational: #226ace;
  color-informational-background: #eef8ff;
  color-informational-outline: #c7e2ff;
  color-warning: #ffb420;
  color-ai: #8736dc;
  color-ai-background: #fbf4ff;
  color-ai-outline: #edd5ff;
  color-beta-primary: #107191;
  color-beta-secondary: #c5f5f5;
  color-neutral: #6a7381;
  color-muted: #f3f5f8;
  background-color: #ffffff;
  background-color-secondary: #f3f5f8;
  background-color-dark: #313b46;
  color-outline: #226ace;
  color-outline-focus: #6a7381;
  color-input-default: #d0d8e4;
  color-input-muted: #919bab;
  color-input-placeholder: #6a7381;
  color-input-label-optional: #919bab;
  color-input-helper-default: #6a7381;
  color-dismiss-default: #919bab;
}

:export {
  -2: 0 -2px 5px rgba(51, 62, 73, 0.1);
  2: 0 2px 5px rgba(51, 62, 73, 0.1);
  6: 0 1px 5px rgba(51, 62, 73, 0.14), 0 4px 10px rgba(51, 62, 73, 0.08);
  8: 0px 6px 17px rgba(51, 62, 73, 0.18), 0px 3px 10px rgba(51, 62, 73, 0.18);
  12: 0 3px 10px rgba(51, 62, 73, 0.18), 0 6px 17px rgba(51, 62, 73, 0.18);
  24: 0 10px 24px rgba(51, 62, 73, 0.1), 0 7px 11px rgba(51, 62, 73, 0.2);
}

:export {
  heading1-large: 64px;
  heading1-large-tablet: 48px;
  heading1-large-mobile: 40px;
  heading1: 40px;
  heading1-mobile: 32px;
  heading2: 32px;
  heading2-tablet-mobile: 28px;
  heading3: 24px;
  subheading: normal;
  text-main-body: 24px;
  text-body: 20px;
  text-secondary: 16px;
  caption1: 20px;
  caption2: 20px;
  caption3: 16px;
}

:export {
  color-default: #00756a;
  color-white: #ffffff;
  color-font-primary: #313b46;
  color-font-secondary: #6a7381;
  color-font-primary-light: #ffffff;
  color-font-primary-dark: #313b46;
  color-border-default: #d0d8e4;
  color-success: #05b279;
  color-success-button: #7edcaf;
  color-success-background: #e9fcf4;
  color-success-outline: #ccf4dd;
  color-danger: #cc2c11;
  color-danger-background: #fff1f1;
  color-danger-outline: #ffd2cf;
  color-caution: #ad4800;
  color-caution-button: #ffdb73;
  color-caution-background: #fffadf;
  color-caution-outline: #fff0b8;
  color-informational: #226ace;
  color-informational-background: #eef8ff;
  color-informational-outline: #c7e2ff;
  color-warning: #ffb420;
  color-ai: #8736dc;
  color-ai-background: #fbf4ff;
  color-ai-outline: #edd5ff;
  color-beta-primary: #107191;
  color-beta-secondary: #c5f5f5;
  color-neutral: #6a7381;
  color-muted: #f3f5f8;
  background-color: #ffffff;
  background-color-secondary: #f3f5f8;
  background-color-dark: #313b46;
  color-outline: #226ace;
  color-outline-focus: #6a7381;
  color-input-default: #d0d8e4;
  color-input-muted: #919bab;
  color-input-placeholder: #6a7381;
  color-input-label-optional: #919bab;
  color-input-helper-default: #6a7381;
  color-dismiss-default: #919bab;
}

@keyframes placeholderSkeleton {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

/* Fonts */
/* Borders */
/* Border-radius */
/* Dropdowns */
/* Inputs */
/* Transitions */
/* Dropdown sizes */
/* Modal */
.phone-container :global .iti__dropdown-content, :global .iti-mobile .iti__dropdown-content, :global .iti--container .iti__dropdown-content,
.phone-container :global .iti__country-list,
:global .iti-mobile .iti__country-list,
:global .iti--container .iti__country-list {
  color: var(--color-font-secondary, #6a7381);
  border-radius: 8px;
  margin-top: 8px !important;
  box-shadow: 0 3px 10px rgba(51, 62, 73, 0.18), 0 6px 17px rgba(51, 62, 73, 0.18) !important;
  border: none !important;
}

.phone-container :global .iti__dropdown-content li.iti__country, :global .iti-mobile .iti__dropdown-content li.iti__country, :global .iti--container .iti__dropdown-content li.iti__country,
.phone-container :global .iti__country-list li.iti__country,
:global .iti-mobile .iti__country-list li.iti__country,
:global .iti--container .iti__country-list li.iti__country {
  display: flex;
  align-items: center;
  min-height: 36px !important;
}

.phone-container :global .iti__dropdown-content li.iti__country .iti__flag-box, :global .iti-mobile .iti__dropdown-content li.iti__country .iti__flag-box, :global .iti--container .iti__dropdown-content li.iti__country .iti__flag-box,
.phone-container :global .iti__country-list li.iti__country .iti__flag-box,
:global .iti-mobile .iti__country-list li.iti__country .iti__flag-box,
:global .iti--container .iti__country-list li.iti__country .iti__flag-box {
  order: 0;
}

.phone-container :global .iti__dropdown-content li.iti__country .iti__country-name, :global .iti-mobile .iti__dropdown-content li.iti__country .iti__country-name, :global .iti--container .iti__dropdown-content li.iti__country .iti__country-name,
.phone-container :global .iti__country-list li.iti__country .iti__country-name,
:global .iti-mobile .iti__country-list li.iti__country .iti__country-name,
:global .iti--container .iti__country-list li.iti__country .iti__country-name {
  order: 2;
}

.phone-container :global .iti__dropdown-content li.iti__country .iti__dial-code, :global .iti-mobile .iti__dropdown-content li.iti__country .iti__dial-code, :global .iti--container .iti__dropdown-content li.iti__country .iti__dial-code,
.phone-container :global .iti__country-list li.iti__country .iti__dial-code,
:global .iti-mobile .iti__country-list li.iti__country .iti__dial-code,
:global .iti--container .iti__country-list li.iti__country .iti__dial-code {
  order: 1;
  width: 40px;
  margin: 0 8px;
}

.phone-container :global .iti__dropdown-content li.iti__country:hover, :global .iti-mobile .iti__dropdown-content li.iti__country:hover, :global .iti--container .iti__dropdown-content li.iti__country:hover, .phone-container :global .iti__dropdown-content li.iti__country.iti__highlight, :global .iti-mobile .iti__dropdown-content li.iti__country.iti__highlight, :global .iti--container .iti__dropdown-content li.iti__country.iti__highlight,
.phone-container :global .iti__country-list li.iti__country:hover,
:global .iti-mobile .iti__country-list li.iti__country:hover,
:global .iti--container .iti__country-list li.iti__country:hover,
.phone-container :global .iti__country-list li.iti__country.iti__highlight,
:global .iti-mobile .iti__country-list li.iti__country.iti__highlight,
:global .iti--container .iti__country-list li.iti__country.iti__highlight {
  background-color: var(--color-caution-background, #fffadf);
}

.phone-container :global .iti__dropdown-content li.iti__country.iti__active, :global .iti-mobile .iti__dropdown-content li.iti__country.iti__active, :global .iti--container .iti__dropdown-content li.iti__country.iti__active,
.phone-container :global .iti__country-list li.iti__country.iti__active,
:global .iti-mobile .iti__country-list li.iti__country.iti__active,
:global .iti--container .iti__country-list li.iti__country.iti__active {
  color: var(--color-font-primary, #313b46) !important;
}

.phone-container :global .iti__dropdown-content li.iti__country.iti__active .iti__dial-code, :global .iti-mobile .iti__dropdown-content li.iti__country.iti__active .iti__dial-code, :global .iti--container .iti__dropdown-content li.iti__country.iti__active .iti__dial-code,
.phone-container :global .iti__country-list li.iti__country.iti__active .iti__dial-code,
:global .iti-mobile .iti__country-list li.iti__country.iti__active .iti__dial-code,
:global .iti--container .iti__country-list li.iti__country.iti__active .iti__dial-code {
  color: var(--color-font-primary, #313b46) !important;
}

.phone-container :global .iti__dropdown-content, :global .iti-mobile .iti__dropdown-content, :global .iti--container .iti__dropdown-content {
  max-height: none !important;
}

.phone-container :global .iti__dropdown-content .iti__country-list, :global .iti-mobile .iti__dropdown-content .iti__country-list, :global .iti--container .iti__dropdown-content .iti__country-list {
  margin-top: 0px !important;
  box-shadow: none !important;
}

.phone-container :global .iti__flag-container, :global .iti-mobile .iti__flag-container, :global .iti--container {
  font-stretch: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-rendering: geometricPrecision;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb !important;
  color: var(--color-font-secondary, #6a7381);
  cursor: inherit !important;
}

.phone-container :global .iti__flag-container .iti__selected-flag, :global .iti-mobile .iti__flag-container .iti__selected-flag, :global .iti--container .iti__selected-flag {
  background-color: rgba(15, 72, 151, 0.11) !important;
}

.phone-container {
  cursor: pointer;
}

.phone-container input {
  padding-left: 120px !important;
  width: 100%;
}

.phone-container[data-ignore-focus] > div:focus-within {
  border: solid 1px var(--color-border-default, #d0d8e4) !important;
}

.phone-container :global .iti {
  flex-grow: 1;
}

.phone-container :global .iti__flag-container {
  padding: 0 !important;
}

.phone-container :global .iti__flag-container:before {
  content: '';
  position: absolute;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 8px 0 0 8px;
  width: 110px;
  left: -1px !important;
  top: -1px;
  transition: border-color 0.2s ease-in;
}

.phone-container :global .iti__flag-container:focus-within:before {
  border: 1px solid #6a7381;
}

.phone-container :global .iti__selected-flag {
  outline: 0;
  width: 111px !important;
  padding: 0 10px !important;
  border-radius: 8px 0 0 8px;
  border-right: 1px solid transparent;
  transition: border-color 0.2s ease-in;
}

.phone-container :global .iti__selected-flag:not(:focus-within) {
  border-right: 1px solid var(--color-border-default, #d0d8e4);
}

.phone-container :global .iti__selected-dial-code {
  padding-right: 20px !important;
}

.phone-container :global .iti--separate-dial-code .iti__selected-dial-code {
  margin-left: 8px;
}

.phone-container :global .iti__arrow {
  border: none !important;
  position: absolute !important;
  top: 46% !important;
  margin-top: -2px !important;
  border-left: 1px solid var(--color-font-secondary, #6a7381) !important;
  border-bottom: 1px solid var(--color-font-secondary, #6a7381) !important;
  width: 5px !important;
  height: 5px !important;
  transform: rotate(-45deg) scale(1.25) !important;
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
  margin-right: 8px;
}

.phone-container :global .iti__arrow.iti__arrow--up {
  transform: rotate(-225deg) scale(1.25) !important;
  top: calc(46% + 3px) !important;
}

.phone-container :global .iti__arrow {
  right: 6px;
}

.phone-container :global .iti__country-list {
  max-height: 250px !important;
}
